{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="" id="mainFrameTwo" style="display:none;">
          <form action="{{ url_for('home') }}" method="POST" enctype="multipart/form-data">
            {{ form1.hidden_tag() }}
            {% if form1.text_file.errors %}
              {{ form1.text_file(class="form-control-file") }}
              {% for error in form1.text_file.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            {% else %}
              {{ form1.text_file(class="form-control-file mb-5") }}
            {% endif %}

            {{ form1.submit2(class="form-control mb-5", value="დამუშავება") }}
        </form>
        </div>
        <div class="pt-5" id="mainFrameOne">
            <form action="{{ url_for('home') }}" method="POST">
                {{ form.hidden_tag() }}
                {{ form.text(class="text-input form-control mb-2", rows="10")}}
                {{ form.submit(class="form-control", value="დამუშავება") }}
            </form>
        </div>
        <button onclick="myFunction()" id="myButton1" class="toggleBtn btn btn-primary">ატვირთე ფაილი</button>
        <div>
            <h2 class="pt-5 mb-5">ზოგადი ანალიზი</h2>
            <table class="table table-bordered ">
                <tbody>
                  <tr>
                    <th scope="row">ყველა სიმბოლო</th>
                    <td>{{ total }}</td>
                  </tr>
                  <tr>
                    <th scope="row"> ყველა სიმბოლო white space-ის გარეშე</th>
                    <td>{{ without_white }}</td>
                  </tr>
                  <tr>
                    <th scope="row">ასოთა რაოდენობა</th>
                    <td>{{ without_symbols }}</td>
                  </tr>
                  <tr>
                    <th scope="row">სიტყვათა რაოდენობა</th>
                    <td>{{ words }}</td>
                  </tr>
                  <tr>
                    <th scope="row">წინადადებების რაოდენობა</th>
                    {% if sentences|length > 1 %}
                      <td>{{ sentences|length-1 }}</td>
                    {% else %}
                      <td>0</td>
                    {% endif %}
                  </tr>
                  <tr>
                  <th scope="row">ყველაზე ხშირად გამოყენებადი სიტყვა</th>
                    {% for k,v in most_used.items() %}
                    {% if v > 0 %}
                        <td>{{ k }} ({{ v }})</td>
                        {% else %}
                        <td>-</td>
                    {% endif %}
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
              <hr class="mt-5 mb-5" >   
              <div class="">
                <h2>სიტყვები</h2>
                <table class="table table-bordered" style="width: 230px;">
                  <tbody>
                      {% for k,v in words_count.items() %}
                      <tr>
                          <th scope="row" style="width: 230px;">{{ k }}</th>
                          <td style="width: 50px; display: flex; justify-content: center;">{{ v }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <hr class="mt-5 mb-5" >
              <div class="">
                <h2 class="mb-5">წინადადებები</h2>
                {% if sentences|length < 2 %}
                    <p>-</p>
                {% else %}
                  {% for s in sentences %}
                  <hr>
                  <p>{{ s }}</p>
                  {% endfor %}
                {% endif %}
              </div>
    </div>
  
{% endblock %}